In [1]:
import pandas as pd
df = pd.read_csv("metadata.csv")

In [2]:
df.head()

,target dataset,target variable,mapping,example
0,dm,usubjid,usubjid = demo.studyid + demo.siteid + demo.s...,231-011-0001
1,ae,usubjid,usubjid = demo1.studyid + demo1.siteid,231-011

In [8]:
n_rows = len(df)
for i in range(n_r):
    print(df.iloc[i:i+1,:])

NameError: name 'n' is not defined